
body{
  background-color: rgb(221, 233, 236);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Logo */

.logo img{
  max-width: 300px;
  max-height: 250px;
}

/* Moteur de recherche */

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  vertical-align: middle; 
  align-items: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  margin-left: 10px;
  padding-right: 10px;
}

input, label {
  margin: .4rem 0;
}

button{
  background-color:#60cfdd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  border: none;
  border-radius: 10%;
  margin-left: 10px;
}

.slogan-recherche{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.slogan-recherche p{
  margin-right: 57px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #9545a0;
  font-variant: small-caps;
  font-size: xx-large;
}

/* Menu en barre d'icônes */

.icon-bar {
  width: 100%; 
  background-color: rgb(99, 106, 202); 
  overflow: auto; 
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
}
  
.icon-bar a {
  float: left; 
  text-align: center; 
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}
  
.icon-bar a:hover {
  background-color: #1f3eb6; 
}
  
.active {
  background-color: #e9a5de; 
}

/* MAIN */

/* CONTENT PAGE 404 */

.content404{
  
}

.content404 img{
  max-width: 80%;
  margin-left: 10%;
}

.page404{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text{
  
  margin-right: 20%;
}

/* Barre de contact */

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  max-height: 40%;
}

input[type=submit] {
  background-color: #60cfdd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
input[type=submit]:hover {
  background-color: #9545a0;
}


img{
  width: 80px;
  height: 100px;
}

    /* Centre */

img{
  max-width: 100%;
  height: auto;
}

main img{
  width: auto;
  vertical-align: middle;
}


    /* Footer */

footer{
  background-color: rgb(188, 221, 229);
  margin-top: 5%;
  }

    /* Footer : barre de menu */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(147, 72, 233);
}
    
ul li {
  float: left;
}
    
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
}
    
li a:hover {
  background-color: #111;
}

.footer_menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}